AITranscriptor/AITranscriptor/ffmpeg.exe
AITranscriptor/AITranscriptor/bin/Debug/audio/audio_porcs.mp3
AITranscriptor/AITranscriptor/bin/Debug/audio/audio_porcs.wav
AITranscriptor/AITranscriptor/bin/Debug/audio/jfk.wav
AITranscriptor/.vs/AITranscriptor/FileContentIndex/8d6790b7-23a6-469b-b534-63363510eb4a.vsidx
AITranscriptor/.vs/AITranscriptor/FileContentIndex/57e36831-1455-4874-9898-4c9ca00f6abd.vsidx
AITranscriptor/.vs/AITranscriptor/FileContentIndex/c021c699-c923-4ee5-8492-1be2eb79aa41.vsidx
AITranscriptor/.vs/AITranscriptor/FileContentIndex/ed092e71-80cd-4254-a4a9-ec90db4ce57f.vsidx
AITranscriptor/.vs/AITranscriptor/v17/.suo
AITranscriptor/AITranscriptor/bin/Debug/AITranscriptor.exe
AITranscriptor/AITranscriptor/bin/Debug/AITranscriptor.pdb
AITranscriptor/AITranscriptor/bin/Debug/transcripts/Anochece.txt
AITranscriptor/AITranscriptor/bin/Debug/transcripts/audio_porcs.txt
AITranscriptor/AITranscriptor/bin/Debug/transcripts/jfk.txt
AITranscriptor/AITranscriptor/bin/Debug/transcripts/test.srt
AITranscriptor/AITranscriptor/bin/Debug/transcripts/test.txt
AITranscriptor/AITranscriptor/obj/Debug/AITranscriptor.csproj.GenerateResource.cache
AITranscriptor/AITranscriptor/obj/Debug/AITranscriptor.exe
AITranscriptor/AITranscriptor/obj/Debug/AITranscriptor.pdb
AITranscriptor/AITranscriptor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AITranscriptor/AITranscriptor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
