AITranscriptor/AITranscriptor/ffmpeg.exe
AITranscriptor/AITranscriptor/bin/Debug/audio/audio_porcs.mp3
AITranscriptor/AITranscriptor/bin/Debug/audio/audio_porcs.wav
AITranscriptor/AITranscriptor/bin/Debug/audio/jfk.wav
